.menu-container{
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
  background-color: #49904d;
}
.menu-container a{
  color: white;
  text-decoration: none;
  font-family: calibri;
  font-size: 30px;
}
.menu-container a:hover {
  background-color: forestgreen;
  color: gold;
}
